header.header-principal {
    padding-top: 20px;
    padding-bottom: 28px;
    margin-bottom: 35px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
    ul {
        @include reset-list();
    }
    @include breakpoint(tablethorizontal) {
        margin-bottom: 80px;
    }
    @include breakpoint(desktop) {
        margin-bottom: 20px;
      }
    
}