.hero {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;

   
    &_content {
        padding-bottom: 46px;
        @include breakpoint(desktop) {
            width: 500px;
            margin-top: 100px;
        }
    }
    &_title {
        font-size: 40px;
        color: $blue;
        padding-bottom: 26px;
        font-weight: 700;
        @include breakpoint(desktop) {
            font-size: 56px;
            font-weight: 900;
        }
    }
    &_subtitle{ 
        padding-bottom: 26px;
        line-height: 30px;
        @include breakpoint(desktop) {
            font-size: 18px;
        }
    }    
    &_buttons {
        a {
        @include button--pink-orange()
        }

    }
    &__img {
        max-width: 327px; 
        
        img {
            width: 100%;
            @include breakpoint(tablet) {
                display: none;
        
            }
        }
  
    }
}    